name: Ruff
on: [push, pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-python@v2
        - run: pip install ruff
        - run: | 
            ruff check . --ignore E501


                